@font-face {
    font-family: 'Clicker Scrip';
    src: url('fonts/ClickerScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

:root {
    --grey: #1e1e1e -6.88%;
    --black: rgba(0, 0, 0, 0) 87.45%;
    --soft_orange: #f9c06a;
    --white: #FFFFFF;
    --cafe_royale: #603809;
    --dove_gray: #707070;
    --bridal_heath: #FFF9F1;
    --derby: #FFEED8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 768px;
    background-image:linear-gradient(89.82deg, var(--grey),var(--black)), url("image/Header_background.jpg");
    background-position: center;
    background-size: cover;
}

.header_text {

    & h1 {
        font-size: 220px;
        font-family: "Clicker Scrip", serif;
        font-weight: 400;
        margin: 0;
        color:var(--white);
    }

    & h2 {
        font-size: 35px;
        font-family: "Clicker Scrip", serif;
        margin: 0;
        color:var(--white);
        font-weight: 400;
    }

    h3 {
        font-size: 22px;
        font-family: "Playfair Display", serif;
        margin: 0;
        color:var(--white);
        font-weight: 500;
    }

    & p {
        font-size: 20px;
        font-family: "Playfair Display", serif;
        margin: 0;
        color:var(--white);
        font-weight: 400 ;
    }
}

.header_navigation {
    display: flex;
}

.header_navigation_logo {
    margin-left: 93px;
    margin-top: 21px;
}

.header_navigation_menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-left: 265px;
    margin-top: 34px;

    & a {
        text-decoration: none;
        font-family: "Playfair Display", serif;
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
}

.header_navigation_button {
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-top: 20px;
    gap: 35px;

    & button {
        background: none;
        border: none;
        font-family: "Playfair Display", serif;
        color: var(--white);
        font-size: 14px;
        text-decoration: underline;
        padding: 14px 27px;
        font-weight: 500;
        cursor: pointer;
    }

    & button:hover {
        background: var(--soft_orange);
        border-radius: 24px;
        padding: 14px 27px;
        color: var(--grey);
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
    }
}

.header_main_text {
    display: flex;
    flex-direction: column;
    width: 527px;
    margin-top: 116px;
    margin-left:93px;
}

.header_main_button {
    margin-top: 20px;
    margin-left: 93px;

    & button {
        background: var(--soft_orange);
        border: none;
        border-radius: 24px;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        color: var(--grey);
        padding: 14px 26px;
        cursor: pointer;
    }
}
.main_preview {
    background-color: #FFFEFC;
    display: flex;
    margin: 82px 93px;
    margin-bottom: 0;
    width: 1180px;
    flex-wrap: wrap;

}

.main_text {

    & h1 {
        font-family: "Playfair Display", serif;
        font-size: 54px;
        font-weight: 700;
        color: var(--cafe_royale);
        margin: 0;
    }

    & h2 {
        font-family: "Playfair Display", serif;
        font-size: 30px;
        font-weight: 700;
        color: var(--grey);
        margin: 0;
    }

    & p {
        font-family: "Playfair Display", serif;
        font-size: 20px;
        font-weight: 400;
        color: var(--dove_gray);
        margin: 0;
        line-height: 34px;
    }
}

.main_preview_content {
    width: 585px;
    gap: 29px;

    .main_text {

        & h1 {
            margin-top: 68px;
            margin-bottom: 29px;
        }

        & p {
            margin-bottom: 29px;
        }
    }
}

.main_content_preview_button {
    font-family: "Playfair Display", serif;
    color: var(--grey);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border-radius: 24px ;
    padding: 13px 23px;
    border: none;
    background: var(--soft_orange);
}

.main_preview_image {
    margin-left: 95px;

    & img {
        width: 500px;
        height: 484px;
    }
}

.main_image_left {
    position: relative;
    right: 92px;
    bottom: 72px;
}


.main_coffee {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    align-items: center;
    gap: 16px;
    margin-left: 93px;
    margin-right: 93px;


    .main_text {

        & p {
            margin-left: 15px;
        }
    }
}

.main_coffee_cards {
    display: flex;
    margin-top: 16px;
    gap: 20px;
}

.coffeecard {
    width: 280px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bridal_heath);
    gap: 6px;

    & img {
        width: 280px;
        height: 210px;
        margin-bottom: 8px ;
    }

    & h1 {
        font-family: "Playfair Display", serif;
        font-size: 22px;
        font-weight: 700;
        color: var(--cafe_royale);
        margin: 0;
    }

    & h2 {
        font-family: "Playfair Display", serif;
        font-size: 18px;
        font-weight: 700;
        color: var(--cafe_royale);
        margin: 0;
    }

    & p {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--grey);
        margin: 0;
    }

    & button {
        position: relative;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 700;
        padding: 14px 26px ;
        background: var(--soft_orange);
        cursor: pointer;
        color: var(--grey);
        border-radius: 24px;
        border: none;
        top: 20px
    }
}

.main_img_right {
    position: relative;
    right: -533px;
    top: 26px;

    & img {
        width: 298px;
        height: 200px;
    }
}

.main_advantages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: -109px;

    & button {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 700;
        padding: 14px 41px ;
        background: var(--soft_orange);
        cursor: pointer;
        color: var(--grey);
        border-radius: 24px;
        border: none;
    }

    .main_text {

        & p {
            margin-left: 50px;
        }

        & h2 {
            margin-left: 188px;
        }
    }
}

.main_advantages_cards {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 16px;
}

.advantagescard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bridal_heath);
    width: 280px;
    height: 284px;

    & h1 {
        font-family: "Playfair Display", serif;
        font-size: 28px;
        font-weight: 700;
        color: var(--cafe_royale);
        margin-top: 0;
        margin-bottom: 8px;

    }

    & p {
        font-family: "Playfair Display", serif;
        font-size: 20px;
        font-weight: 400;
        color: var(--dove_gray);
        margin: 0 35px;
        text-align: center;
    }

    & img {
        width: 88px;
        height: 88px;
        margin-bottom: 25px;
    }
}
.advantagescard:hover {
    background-color: var(--derby);
}

.main_footer {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    height: 574px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(96, 56, 9, 0.8), rgba(96, 56, 9, 0.8)), url("image/main_footer.jpg");
    margin-top: 82px ;

}

.main_footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 575px;
    height: 304px;
    margin-top: 135px;
    margin-left: 93px ;

    .main_text {

        & h1 {
            color: var(--white);
            margin-bottom: 22px ;
        }

        & p {
            color: var(--white);
        }
    }

    & button {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 700;
        padding: 14px 26px ;
        background: var(--soft_orange);
        cursor: pointer;
        color: var(--grey);
        border-radius: 24px;
        border: none;
        margin-top: 22px;
    }
}

.main_footer_image {
    width: 533px;
    height: 574px;
    background-image: url("image/been_backgroud.png");
    background-size: cover;
    background-position: right ;

    & img {
        width: 300px;
        height: 467px;
        margin-top: 54px;
        margin-left: 60px;
    }
}